* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #222222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    /* HEADER */
    .header {
        padding: 5px;
    }

    .header-banner {
        width: 100%;
    }

    .header-banner-logo {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    .header-banner-name h1 {
        font-size: 11px;
    }

    .header-banner-name p {
        font-size: 6px;
    }

    /* NAVBAR */
    .navbar-container-menu li {
        display: none;
    }

    .menu-toggle {
        font-size: 20px;
    }

    /* SIDEBAR */
    .sidebar {
        left: -325px;
        width: 325px;
    }

    .sidebar-container-banner {
        justify-content: center;
    }

    .sidebar-container-logo {
        width: 50px;
        height: 50px;
    }

    .sidebar-container-name h1 {
        font-size: 8px;
    }

    .sidebar-container-name p {
        font-size: 7px;
    }

    /* FOOTER */
    .footer {
        padding: 5px;
        line-height: 1.3; 
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer-container-banner img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    .footer-container-banner{
        border-bottom: 1px solid #f1f1f1;
    }

    .footer-container-name h1 {
        font-size: 10px;
    }

    .footer-container-name p {
        font-size: 7px;
    }

    .footer-container > p {
        font-size: 10px;
    }

    .footer-back-to-top {
        position: fixed;
        bottom: 75px;
        right: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 999;
    }

    .footer-back-to-top a {
        width: 40px;
        height: 40px;
    }

    /* MAIN */
    /* MAIN CONTENT*/
    .main-content {
        max-width: 100%;
        width: 100%;
    }

    /* HOME PAGE */
    .home-container {
        max-width: 100%;
        width: 100%;
        padding: 0 5px;
    }

    .top-info-bar {
        width:100%;
        font-size: 11px;
    }

    .time-box {
        font-weight:500;
        padding: 5px;
    }

    #clock {
        display: none;
    }

    .time-divider {
        display: none;
    }

    .marquee-content {
        gap:20px;
    }

    .marquee-content span {
        padding-right:20px;
    }

    .banner-btn{
        width:22px;
        height:22px;
        min-width:22px;
        min-height:22px;
        border-radius:50%;
        background:rgba(0,0,0,0.45);
        border:none;
        color:#fff;
        font-size:10px;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:pointer;
        opacity:0;
        transition:0.3s;
        z-index:10;
        padding:0;
        aspect-ratio:1/1;
    }

    .prev{
        left: 10px;
    }

    .next{
        right: 10px;
    }

    .home-news {
        max-width: 100%;
        flex-direction: column;
        gap: 5px;
    }

    .home-news-sub{
        width: 100%;
    }

    .home-news-hight{
        height: 350px;
        width: 100%;
    }

    .home-news-hight-art img{
        height: 250px;
    }

    .home-news-text h3{
        font-weight: 500;
    }

    .home-news-text p{
        font-size: 14px;
    }

    .home-news-sidebar{
        width: 100%;
        box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        padding: 5px 5px 0 5px;
        height: auto;
        border: 1px solid #f0f0f0;
    }

    .home-news-sidebar-list{
        display: flex;
        gap: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .home-news-sidebar-list li{
        flex: 0 0 100%;
    }

    .banner-second{
        height: 45px;
    }

    .home-news-more{
        width: 100%;
    }

    .news-more-list-home{
        width:100%;
    }

    .news-more-list-home li{
        flex: 0 0 100%;
    }

    .home-featured{
        width:100%;
        flex-direction: column;
        gap:5px;
    }

    .law-table td:nth-child(2){
        max-width:150px;
    }

    .law-table th:nth-child(1),
    .law-table td:nth-child(1){
        display: none;
    }

    .law-table th:nth-child(3),
    .law-table td:nth-child(3){
        display: none;
    }

    .download-btn{
        font-size:11px;
        font-weight:400;
    }

    .chart-container{
        height: 275px;
    }

    .chart-number{
        font-size:11px;
    }

    .bar{
        width:35px;
    }

    .chart-label{
        font-size:11px;
    }

    .detail-btn{
        font-size:11px;
    }

    .home-featured-sidebar{
        width: 100%;
    }

    .quick-link-item{
        padding:15px 5px;
        font-weight: 500;
    }

    .quick-link-item span {
        text-align: center;
        font-size: 7px;

    }

    .faq-layout{
        height:250px;
    }

    .faq-question{
        padding:5px;
        text-align:justify;
        font-size:11px;
    }

    .faq-display{
        text-align: justify;
        width:70%;
        padding: 0px 5px;
        font-size:14px;
        font-weight: 400;
    }

    .home-media{
        width: 100%;
    }

    .home-media-list{
        gap:5px;
    }
    .home-media-list li{
        flex:0 0 100%;
    }

    .home-media-list p{
        font-weight: 400;
    }
}