* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #222222;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .header {
        padding: 0;
    }

    .header-banner {
        padding: 10px 15px;
    }

    .header-banner-logo {
        width: 50px;
        height: 50px;
    }

    .header-banner-name h1 {
        font-size: 12px;
    }

    .header-banner-name p {
        font-size: 7px;
    }

    /* NAVBAR */
    .navbar-container-menu > li > a {
        display: none;
        padding: 5px 10px;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    /* SIDEBAR */
    .sidebar {
        left: -300px;
        width: 300px;
    }

    .sidebar-container-banner {
        padding: 30px 10px;
    }

    .sidebar-container-logo {
        width: 50px;
        height: 50px;
    }

    .sidebar-container-name h1 {
        font-size: 7px;
        font-weight: 700;
        text-align: center;
    }

    .sidebar-container-name p {
        font-size: 6px;
        font-weight: 500;
    }

    .sidebar-close {
        font-size: 20px;
    }

    /* FOOTER */
    .footer {
        padding: 5px 10px;
        justify-content: center;
        align-items: center;  
    }

    .footer-container {
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .footer-container-banner {
        display: flex;
        align-items: center;
        gap: 0px;
    }

    .footer-container-banner img {
        width: 40px;
        height: 40px;
    }

    .footer-container-name h1 {
        font-size: 13px;
        font-weight: 600;
    }

    .footer-container-name p {
        font-size: 9px;
    }

    .footer-container > p {
        border-top: 1px solid #f1f1f1;
        padding: 5px 5px;
        font-size: 11px;
    }

    .footer-back-to-top {
        position: fixed;
        right: 10px;
        bottom: 85px;  
    }

    /* CONTAINER */
    .home-container,
    .chucnangnhiemvu-container,
    .cocautochuc-container,
    .lichsuhinhthanh-container,
    .sodocongthongtin-container,
    .hoatdongdiaphuong-container,
    .tintucquocte-container,
    .tintuctrongnuoc-container,
    .kienthuccoban-container,
    .kynangphongngua-container,
    .nhandienmatuymoi-container,
    .tachaimatuy-container,
    .tailieutruyenthong-container,
    .vanbanphapluat-container,
    .tracuu-container-banner,
    .nghiencuutraodoi-container,
    .togiacphananh-container-banner {
        padding: 0 10px;
    }
}